<div class="container">
  <div class="row">
    <div class="col-md-6 center-block">
      <h3>お問い合わせ完了</h3>
      <p>お問い合わせありがとうございました<br>内容を確認の上、近日中にFAQにて掲載させていただきます。</p>
      <div class="text-center"><%= link_to "トップページへ戻る", root_path, class: "btn btn-primary" %></div>
    </div>
  </div>
</div>

<!--<div class"contents"></div> -->
<!--  <div class="done">-->
<!--    <div class="done-content">-->
<!--      <div>お問い合わせ内容を送信しました</div>-->
<!--      <div></div>-->
<!--    </div>-->
<!--  </div>-->
<!--お問い合わせ完了-->
<!--お問い合わせありがとうございました。-->
<!--内容を確認の上、近日中にFAQにて掲載させていただきます。-->