// Place all the styles related to the public::contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  padding: 8px 24px;
  color: white;
  background: #668ad8;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  font-weight: bold;
}

.button:hover {
 opacity: 1;
}

.confirm-button {
  padding: 2px 20px;
  color: white;
  background: #668ad8;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  font-weight: bold;
}

.confirm-button:hover {
  opacity: 1;
}

.confirm-return-button {
  padding: 1px 15px;
  color: #1a1a1a;
  background: #f5f5f5;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.confirm-return-button:hover {
  opacity: 1;
}

contents {
  margin: 0;
}

.done {
  position: relative;
  /* ウィンドウ幅を想定して指定していますが適宜変更してください */
  width: 100vw;
  height: 100vh;
}

.done-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);/* 要素の大きさの半分の距離を左、上方向に移動する */
  -webkit-transform: translateY(-50%) translateX(-50%);
}