// Place all the styles related to the public::shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//show.html.erb
html,body,h1,h2,h3,h4,ul,ol,dl,li,dt,dd,p,div,span,img,a,table,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align:baseline;
  list-style: none;
}

.container {
  margin: 10px;

}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  //bordercolor: white;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}

.tab-active {
  color: #5a3e26;
  background: #ffe9e6;
  transition: all 0.2s ease-in-out;
}

.tabbox-contents {
  background: #ffe9e6;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

// shop-image {
//   display: inline-block;
// }

.comment-image {
  width: 270px;
  height: 270px;
}

.img-show {
  object-fit: cover;
}

shop-item {
  display: inline-block;
}

.fav-inline {
  display: inline-block;
}

.item {
  color: linear-gradient(#af611c, #5a3e26);
}

//index.html.erb

.genre-title {
  background-color: #b3947d;
  color: white;
  // background-color: #af611c;
}

.genre-table {
  color: #4d322e;

//   border-collapse:separate;
//   border-spacing: 5px;
//   width: 100%;
 }

// .genre-table th {
//   border-radius: 5px;
//   text-align: center;
//   padding: 10px 0;
// }

// .genre-table td {
//   border-radius: 5px;
//   text-align: center;
//   padding: 10px 0;
// }

// .genre-table th {
//   background-color: #c79852;
//   color: white;
//   border:solid 1px #927141;
// }

// .genre-table td {
//   background-color: #e4d4bc;
//   border:solid 1px #af9d85;
// }