<div class="container">
  <div class="row">
    <div class="col-md">
      <h3>FAQ一覧</h3>
      <table class="table">
        <div>
          
        <% @faqs.each do |faq| %>
          <div class="m-2">
            <tr>
              <td>【会員】</td>
              <td><%= @contact.name %></td>
            </tr>
            <tr>
              <td>【Q】</td>
              <td><span style="white-space: pre-wrap;"><%= faq.frequently %></span></td>
            </tr>
            <tr>
              <td>【A】</td>
              <td><span style="white-space: pre-wrap;"><%= faq.question %></span></td>
            </tr>
          
          
          
          <%#= link_to " FAQ削除", admin_contact_faq_path(contact.id, params[:id]), class: "btn btn-primary" %>
          </div>
        <% end %>
        </div>
      </table>
    </div>
  </div>
</div>