<% if admin_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5 mx-auto">
      <div class="m-5"><%= button_to "店舗管理", {controller: 'shops', action: 'index'},{method: :get} %></div>
      <div class="m-5"><%= button_to "会員情報", {controller: 'customers', action: 'index'},{method: :get} %></div>
      <div class="m-5"><%= button_to "お問い合わせ" %></div>
    </div>
  </div>
</div>
<% else %>
  管理者専用ページです
<% end %>