<div class="container">
  <div class="row">
    <div class="col-md">
      <h3>お問い合わせ一覧</h3>

      <div class="align-items-center">
      <% @contacts.each do |contact| %>
        <div class="m">
        【会員】<%= contact.name %><br>
        【お問い合わせ内容】<br>
        <span style="white-space: pre-wrap;"><%= contact.message %></span><br>
        <%= link_to " FAQ作成", new_admin_contact_faq_path(contact.id), class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>