/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

.heaedr_logo {
 //width: 300px;
 height: 40px;
}

header {
  background-color: #986e4e;
  color: white;
  height: 45px;
}

header nav.navbar {
  padding: 0;
}

.logo {
  height: 45px;
}

.link {
  text-decoration: none;
  color: white;
}

main {
  padding-top: 45px;
  height: 100%;
  position: relative;
}

.search {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
}

footer {
  background-color: #986e4e;
  color: white;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  line-height: 40px; //テキストが１行の時のみ
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}