// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual-content {
  background-image: image-url('top.JPG');
  height: 300px;
  background-size:cover;
  position: relative;
}

.main-visual-text {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  transform: translate(-50%,-50%);
  color: white;
}